{% extends './layout.html' %}

{% block body %}
<div class="container-fluid">
    <h2 class="text-center bg-message text_message">{{ data.message }}</h2>
    {% if not 'username' in session %}
        <div class="col">
            <div class="row">
                <!-- Login Form -->
                <div class="text-center text_message">
                    <h4>{{ data.messagealternative }}</h4>
                </div>
            </div>
            {% if not data.errbd %}
            <div class="row">
                <div class="col-3"></div>
                <div class="col-sm-6 text_message border1">
                    <form method="POST" action="/login" enctype="multipart/form-data">
                        <div class="mb-4">
                            <label for="txtUser" class="form-label">Usuario</label>
                            <input type="text" name="txtUser" class="form-control" id="txtUser" aria-describedby="txtUserHelp" required>
                            <div id="txtUserHelp" class="form-text">Ingrese su Identificación de Usuario</div>
                        </div>
                        <div class="mb-4">
                            <label for="txtPassword" class="form-label">Contraseña</label>
                            <input type="password" name="txtPassword" class="form-control" id="txtPassword">
                        </div>
                        {% with messages = get_flashed_messages() %}
                            {% if messages %}
                                <div class="mb-4 text-center">
                                    {% for message in messages %}
                                    <label style="color: red">{{ message }}</label>
                                    {% endfor %}
                                </div>
                            {% endif %}
                        {% endwith %}
                        <button type="submit" class="btn btn-primary" value="Ingresar"> Ingresar </button>
                    </form>
                </div>
                <div class="col-3"></div>
            </div>
            <div class="row">
                <img src="{{ url_for('static', filename='assets/images/background.jpg') }}" class="img-fluid p-3" alt="Calendario">                
            </div>
            {% endif %}
        </div>
    {% endif %}
</div>
{% endblock %}